div.column.col-10.col-md-9.col-sm-8.col-xs-12
  p.h5 AnimeShot 使用指南
  ol
    li 上传图片
      ul
        li 选择动画截图并输入截图字幕内容即可。
        li 你可以在「我的上传」找到你上传过的内容。
        li 更多细节请见「内容准则」页面。
    li 搜索技巧
      ul
        li 输入简体与繁体都能得到同样的结果。
    li 「收藏」是什么？
      ul
        li 如果遇到你喜欢的内容，可点击收藏支持，也方便自己查找。
        li 有一定收藏数的内容会进入「热门上传」分类。
    li 「插旗」是什么？
      ul
        li 如果遇到不符合本站内容准则的截图，可点击插旗，让管理员审核。
    li 「删除」是什么？
      ul
        li 如果上传了错误或重复的内容，你可以自行删除。
    li Twitter 分享
      ul
        li 通过截图页面，点击「分享」按钮。
        li 或直接分享链接，Twitter 会自动抓取截图。
    li Telegram 分享
      ul
        li 在聊天栏输入 @animeshot2bot，根据提示输入关键词，即可搜索本站内容并发出。
        li 或直接分享链接，Telegram 会自动抓取截图。
    li 图片链接
      ul
        li 截图页面有不同大小的图片链接。