doctype html
html(lang=en)
  include meta-site.pug
  body
    div.container.grid-lg(lang=meta.lang)
      include view-header.pug
      div.columns.p-2
        include view-nav.pug
        if page.path == '/guide/content'
          include guide-content.pug
        if page.path == '/guide/usage'
          include guide-usage.pug
      include view-footer.pug