doctype html
html(lang=en)
  include meta-site.pug
  body
    div.container.grid-lg(lang=meta.lang)
      include view-header.pug
      div.columns.p-2
        include view-nav.pug
        include view-cards.pug
      div.columns.p-2
        include view-more.pug
      include view-footer.pug