div.column.col-10.col-md-9.col-sm-8.col-xs-12
  p.h5 AnimeShot 内容准则
  ol
    li 本站允许上传日本动画的字幕截图。
      ul
        li 「日本动画」指：黄金时段动画、深夜动画、剧场版动画、网络放送动画与 OVA。
        li 「字幕」指：内嵌字幕、字幕组字幕。
        li 「截图」指：屏幕截图。
    li 本站内容的主题与用途。
      ul
        li 把动画里的台词用于日常吐槽。
        li 「台词源于动画」非常重要。
        li 「吐槽实用性」也很重要。
    li 本站保留删除上传内容的权利，以下是一些被删除的常见原因。
      ul
        li 非屏幕截图。
        li 非日本动画的截图。
        li 截图无字幕、刻意修改字幕、混淆了字幕与弹幕的区别。
        li 截图画面质量过低：例如使用分辨率低于 720p 的视频。
        li 截图包含 R18 内容、或字幕涉及 R18 内容。
        li 截图与站内现有内容重复。
    li 本准则会随着需要更新，当前版本为（2018.10.13 Rev.1）

