div.columns.p-2.mt-2
  div.column.col-6.col-sm-12
    h1.h3
      a(href="/") #{meta.title}
    p #{meta.tagline}
  div.column.col-6.col-sm-12
    form(action="/action/search")
      div.input-group
        label.input-group-addon #{i18n.keyword}
        input.form-input(type="text" placeholder="")
        button.btn.btn-primary.input-group-btn(type="submit") #{i18n.search}
  div.column.col-12
    div.divider